DISCORD_WEBHOOK=<your discord webhook url for fan reporting>
CLUB_ID=<your_club_id>
CHRONO_GENESIS_TOKEN=<your_chrono_genesis_token>
ADMIN_TOKEN=<Admin token for API access>
DISCORD_TOKEN=<your discord bot token>
FLASK_SECRET_KEY=<your flask secret key>
